In [2]:
import pandas as pd
import numpy as np
import shutil
import os
import xml.etree.ElementTree as ET
from PIL import Image
from tqdm import tqdm
import cv2

In [30]:
df = pd.read_csv('KDS_part_2.csv')

In [31]:
extracted_df = df[df["Similarity Score"] < -0.9]

In [32]:
extracted_df

      Unnamed: 0 Resized Image Name      Original Image Name  Similarity Score
0              0           2193.jpg  IMG_20221219_152647.jpg             -0.95
1              1           2081.jpg  IMG_20221219_151246.jpg             -1.00
2              2        ujj (4).jpg  IMG_20230121_144933.jpg             -1.00
3              3           5705.JPG             IMG_9822.JPG             -1.00
4              4           2907.jpg  IMG_20230121_143607.jpg             -1.00
...          ...                ...                      ...               ...
2402        2402      ris (915).jpg    IMG20230121170625.jpg             -1.00
2403        2403      ris (825).jpg    IMG20230121142254.jpg             -0.98
2404        2404           5894.jpg    swet_bhairab (31).jpg             -0.92
2405        2405      ris (572).jpg    IMG20221219151500.jpg             -1.00
2407        2407      ris (838).jpg    IMG20230121142546.jpg             -1.00

[2254 rows x 4 columns]

In [33]:
ORI_IMAGE_DIR = r"F:\Minor Data Collection\All Images\KDS"
FOUND_DIR = r"F:\Minor Data Collection\All Images\ORI_KDS Division\Found KDS Images"

In [34]:
for row in tqdm(extracted_df.iterrows()):
    resize_file_name = row[1]['Resized Image Name']
    ori_file_name = row[1]['Original Image Name']
    src_path = os.path.join(ORI_IMAGE_DIR, ori_file_name)
    dst_path = os.path.join(FOUND_DIR, resize_file_name)
    shutil.copy(src_path, dst_path)

2254it [02:29, 15.05it/s]

### Copy Annotations files from original annotation files

In [35]:
ANNO_ORI_DIR = r"F:\Minor Data Collection\Final Image Data\Monument Original\Original Image Dataset\Annotations"
COPY_ANNO_DIR = r"F:\Minor Data Collection\All Images\ORI_KDS Division\Found KDS Annotations"

In [36]:
for file_name in tqdm(os.listdir(FOUND_DIR)):
    img_file_name = file_name.split('.')[0]
    anno_file_name = img_file_name + '.xml'
    src_path = os.path.join(ANNO_ORI_DIR, anno_file_name)
    dst_path = os.path.join(COPY_ANNO_DIR, anno_file_name)
    shutil.copy(src_path, dst_path)

100%|█████████████████████████████████████████████████████████████████████████████| 4732/4732 [00:29<00:00, 159.78it/s]

### Main: Change Annotations XML file according to the image size

In [37]:
IMG_DIR = r"F:\Minor Data Collection\All Images\KDS Found Images and Annotations\JPEGImages"
ANNO_DIR = r"F:\Minor Data Collection\All Images\KDS Found Images and Annotations\Annotations"

In [38]:
for image in tqdm(os.listdir(IMG_DIR)):
    img = cv2.imread(os.path.join(IMG_DIR, image))
    height, width, _ = img.shape
    
    anno_path = os.path.join(ANNO_DIR, image.split('.')[0] + '.xml')
    xml_file = ET.parse(anno_path)
    root = xml_file.getroot()
    root.find('size').find('width').text = str(width)
    root.find('size').find('height').text = str(height)
    all_objects = root.findall('object')
    
    for member in all_objects:
        xmin= int(member[4][0].text)
        ymin= int(member[4][1].text)
        xmax= int(member[4][2].text)
        ymax= int(member[4][3].text)
        
        member[4][0].text = str(int((float(xmin) / 300.0) * width))
        member[4][1].text = str(int((float(ymin) / 300.0) * height))
        member[4][2].text = str(int((float(xmax) / 300.0) * width))
        member[4][3].text = str(int((float(ymax) / 300.0) * height))
    
    anno_out_path = os.path.join(ANNO_DIR, image.split('.')[0] + '.xml')
    xml_file.write(anno_out_path)

100%|██████████████████████████████████████████████████████████████████████████████| 4732/4732 [14:06<00:00,  5.59it/s]

##

In [29]:
extracted_df = df[df["Similarity Score"] > -0.9]

In [30]:
BASE_BDS_DIR = r"F:\Minor Data Collection\Resized Original Image\BDS"
OUTPUT_DIR = r"F:\Minor Data Collection\Resized Original Image\Unfound Files"

In [26]:
for row in extracted_df.iterrows():
    file_name = row[1]['Resized Image Name']
    src_path = os.path.join(BASE_BDS_DIR, file_name)
    dst_path = os.path.join(OUTPUT_DIR, file_name)
    shutil.copy(src_path, dst_path)

In [11]:
import pandas as pd
part_1 = pd.read_csv('./KDS_part_1.csv')
part_2 = pd.read_csv('./KDS_part_2.csv')

In [10]:
part_1[part_1["Similarity Score"] < -0.9]

      Unnamed: 0 Resized Image Name      Original Image Name  Similarity Score
0              0      ris (778).jpg    IMG20230121134120.jpg             -0.98
1              1           2008.jpg  IMG_20221219_150553.jpg             -0.95
2              2           5307.JPG             IMG_9390.JPG             -1.00
3              3           5039.JPG             IMG_9115.JPG             -0.99
4              4           1700.jpg  IMG_20221219_142931.jpg             -0.98
...          ...                ...                      ...               ...
2609        2609           5005.JPG             IMG_8786.JPG             -0.98
2611        2611           5088.JPG             IMG_9164.JPG             -0.98
2613        2613           4463.JPG             IMG_8028.JPG             -1.00
2614        2614           5303.JPG             IMG_9386.JPG             -1.00
2617        2617           2599.jpg  IMG_20230121_130629.jpg             -0.97

[2478 rows x 4 columns]

In [12]:
part_2[part_2["Similarity Score"] < -0.9]

      Unnamed: 0 Resized Image Name      Original Image Name  Similarity Score
0              0           2193.jpg  IMG_20221219_152647.jpg             -0.95
1              1           2081.jpg  IMG_20221219_151246.jpg             -1.00
2              2        ujj (4).jpg  IMG_20230121_144933.jpg             -1.00
3              3           5705.JPG             IMG_9822.JPG             -1.00
4              4           2907.jpg  IMG_20230121_143607.jpg             -1.00
...          ...                ...                      ...               ...
2402        2402      ris (915).jpg    IMG20230121170625.jpg             -1.00
2403        2403      ris (825).jpg    IMG20230121142254.jpg             -0.98
2404        2404           5894.jpg    swet_bhairab (31).jpg             -0.92
2405        2405      ris (572).jpg    IMG20221219151500.jpg             -1.00
2407        2407      ris (838).jpg    IMG20230121142546.jpg             -1.00

[2254 rows x 4 columns]